<div class="container">
  <form [formGroup]="productform" (ngSubmit)="submitRegistration()" novalidate>
  
  <ngb-alert *ngIf="validMessage" type="dark" (close)="validMessage = null">{{validMessage}}</ngb-alert>


    <div class="form-group">
      <label>Category</label>
      <select class="form-control" formControlName="category" required>
        <option value="">Please select a category</option>
        <option *ngFor="let category of categories"
                [value]="category.category">
                {{category.category}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" required/>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description" required/>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price" required/>
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" formControlName="author" required/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" [readonly]="!isModify"  required/>
    </div>
    <div class="form-group">
      <label>Upload date</label>
      <input type="text" class="form-control" formControlName="uploadDate" required/>
    </div>
    

    <button type="submit" class="btn btn-primary" [disabled]="!productform.valid">Submit</button>
  </form>
  
  <button  class="btn btn-lg btn-primary btn-block" (click)="onBackToList()"><i class="fas fa-chevron-left"></i> Back to List</button>
</div>
