<div class="container">
  <button (click)="addNewItem()"><i class="fas fa-plus-square"></i> Add new Item</button>        
  <table class="table table-hover">
    <tr class="thead-dark">
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>
        {{product.category}}
      </td>
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.description}}
      </td>
      <td><button class="btn" (click)="openEdit(product.id)"><i class="fas fa-marker"></i></button></td>
      <td><button class="btn" (click)="deleteItem(product.id)"><i class="fas fa-eraser"></i></button></td>
    </tr>
  </table>
</div>