<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <ul class="navbar-nav px-3 right" [hidden]="!isUserLoginIn()">
        <li class="nav-item text-nowrap">
          <a class="nav-link" [routerLink]="" (click)="logout()">Sign out</a>
        </li>
      </ul>
</nav>
<div class="container-fluid">
<div class="row">
	<div class="col-md-2 d-none d-md-block bg-light sidebar shadow gheader">
		<div class="sidebar-sticky">
		<header>
			<div class="text-center">
				<img src="assets/img/logo.png" alt="logo" class="img-fluid img-thumbnail rounded" width="200">
				<h1>
					Graphosoft
					<small class="text-muted">Demo Pet Store Admin</small>
				</h1>
			</div>
			</header>
		</div>
	</div>
	
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<router-outlet></router-outlet>
	</main>
	</div>
</div>