<form [formGroup]="signinForm" (ngSubmit)="submitLogin()" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>